@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

h1{
	line-height: 53px;
	letter-spacing: -1px;
}
	
h1 .title{
	letter-spacing: 1.2px;
}

body {
	font-family: "Roboto", sans-serif;
	color: #45426E;
	overflow-x: hidden;
}

.font-Bricolage-Grotesque{
	font-family: "Bricolage Grotesque", sans-serif;
}
.font-mukta{
	font-family: "Mukta", sans-serif;
}


.font-rubik{
	font-family: "Rubik", sans-serif;
}
body.menu-open {
    overflow: hidden;
}


header {
    position: relative;
    z-index: 1;
}


.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav__menu__btn {
    font-size: 30px;
    cursor: pointer;
}


.nav-link {
    position: relative;
    transition: all 0.3s;
  }




  
  .nav-link.active{
	color: #DD3142;
  }
  
  .tel{
	letter-spacing: -1.5px;
  }

  .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #DD3142;
    transform: translateY(3px);
  }


.container {
	
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}





#testimonials {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slick-dots {
	bottom: -24px;
	display: flex !important;
	justify-content: center;
	gap: 4px;
  }
  

  .slick-dots li button {
	font-size: 0; 
	width: 6px;
	height: 6px;
	background-color: #D9D9D9;
	border-radius: 50%;
	border: none;
	display: inline-block;
	padding: 0;
  }
  
  .slick-dots li.slick-active button {
	background-color:#DD3142;
  }
  
  













@media screen and (min-width: 768px) {

	.nav__menu__btn {
        display: none;
    }
}



@media (width < 768px) {
    

    .btn {
        display: none;
    }

    

    header {
        padding-top: 0;
    }

    .nav__bar {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .nav__links {
		list-style: none;
		position: fixed;
		top: -100vh;
		left: 0;
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 2rem 1rem;
		gap: 2rem;
		font-size: 1.2rem;
		transform: translateY(-100%);
		transition: transform 0.5s ease-in-out;
		z-index: 9999;
		opacity: 0;
		visibility: hidden;
		background: #DD3142;
	}
	
	.nav__links.open {
		
		transform: translateY(0);
		top: 60px;
		opacity: 1;
		visibility: visible;
	}
	
	.nav-link.active{
		color: black;
	  }
	  .nav-link.active::after {
		
		background-color: white;
	  }
    .nav__links a {
        position: relative;
        padding-bottom: 8px;
        transition: .3s;
        color: white;
    }

    #custom-arrows button.slick-arrow {

        bottom: -80px;;
    }

}