@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

h1, h2, h3, h5 {
	font-family: "Bricolage Grotesque", sans-serif;
}

body {
	font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	color: #45426E;
}

.container {
	max-width: 1180px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.h2 {
	font-size: 60px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -1px;
	color: #17134a;
}

.h3 {
	font-size: 50px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -0.5px;
	color: #17134a;
}

.h5 {
	font-size: 24px;
	line-height: 26.4px;
	font-weight: 700;
	color: #17134a;
}

.h6 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 600;
	color: #17134a;
}


.hero-btns {
    text-align: center;
    background: center / contain no-repeat url('https://cdn.dorik.com/5e373b6c43a72a001f56dbf6/61a1f4035bfd7b0011fb92f9/images/button-bg_wqfy1ggx.svg');
}

.hero-btns a svg {
    width: 14px;
    height: 14px;
}



.btn {
	display: flex;
	align-items: center;
	gap: 7px;
	border-radius: 5px;
	background-color: #3a30ba;
	padding-inline: 32px;
	padding-block: 16px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	color: #ffffff;
	transition-duration: 300ms;
}

@media (hover: hover) {
	.btn:hover {
		background-color: #12126e;
	}
}


.btns {
	display: flex;
	align-items: center;
	gap: 7px;
	border-radius: 5px;
	background-color: #3a30ba;
	padding-inline: 32px;
	padding-block: 16px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	color: #ffffff;
	transition-duration: 300ms;
}

@media (hover: hover) {
	.btns:hover {
		background-color: #12126e;
	}
}




.footer-bg {
	background-image: url('https://cdn.dorik.com/5e373b6c43a72a001f56dbf6/61a1f4035bfd7b0011fb92f9/images/footer-bg-2_71chjwos-1_iyenu6o2.svg');
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
}

a.footer-bt button {
	padding: 0.5rem 0.75rem;
	display: inline;
	background: #2b2b2b;
	width: 250px;
	border-radius: 0.5rem;
	border: 1px solid #000000;
	color: #fff;
	font-weight: 600;
	position: relative;
	padding-left: 35px;
	padding-right: 35px;
	cursor: pointer;
}

a.footer-bt button:before {
	position: absolute;
	left: 12px;
	top: 12px;
	width: 15px;
	height: 15px;
	content: "";
	background: #33b17e;
	border-radius: 50%;
}

.footer-bt button:hover {
	background-color: #424242;
}

.footer-menu li a {
	line-height: 26px;
	color: #A2A1B7;
}

.footer-menu li a:hover {
	color: white;
}

.footer-btns {
	text-align: center;
	background: center / contain no-repeat url('https://cdn.dorik.com/5e373b6c43a72a001f56dbf6/61a1f4035bfd7b0011fb92f9/images/button-bg_wqfy1ggx.svg');
}

.footer-btns a svg {
	width: 14px;
	height: 14px;
}